<h1>Creating {{module}}</h1>

Good Luck!
<br/>

Field Labels:  
<ul>
  {{#each-in metaData as |field definition|}}
    <li>Hello sexy {{definition.fieldName}}!</li>

    {{field-text definition=definition}}
  {{/each-in}}
</ul>